#edit-form form button {
    margin-right: 2%;
}

.edit-select {
    margin-top: 7%;
}

#edit-form .form-label {
 margin-right: 3%;
}

/* Responsive */
@media (min-width: 1200px) {
    #edit-form button {
        font-size: .8em;
    }
}
