.container-details {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 15% auto 15% auto;
}

.card-details {
    max-width: 75%; 
    height: 175px;
    border: none;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 2%;
    border: 0.4vw solid #444444;
    box-shadow: 0.1vw 0.1vw 0.25vw #999999 inset;
}

.details {
    display: flex;
    text-align: center;
    align-items: center;
}

.container-details h5 {
    font-size: 2em;
}

.container-details p {
    font-size: 1.5em;
    margin-bottom: 5%;
}

.title {
    font-weight: 700;
}

.details-btn button {
    margin: auto;
    margin-bottom: 20px;
    font-size: 1.1em;
}

/* Responsive */
@media (min-width: 768px) and (max-width: 992px)  {
    .card-img {
        height: 350px;
    } 
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container-details {
        margin-top: 10%;
    }

    .card-img {
        height: 400px;
    } 
}

@media (min-width: 1200px) {
    .container-details {
        margin-top: 8%;
    }

    .card-details {
        max-width: 90%; 
    }

    .card-img {
        height: 500px;
    } 

    .container-details h5 {
        font-size: 2.8em;
    }
    
    .container-details p {
        font-size: 1.5em;
        margin-bottom: 4%;
    }

    .add-to-cart {
        width: 50px;
    }

    .details-btn button {
        margin: 3% auto 10% auto;
        font-size: 1.1em;
    }
}

