.container-details {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

.card {
    max-width: 75%; 
    height: 300px;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.details {
    display: flex;
    text-align: center;
    align-items: center;
}

.container-details h5 {
    font-size: 4em;
}

.container-details p {
    font-size: 2em;
}

.title {
    font-weight: bold;
}

.container-details button {
    width: 20%;
    margin-left: 5px;
    font-size: 1.2em;
}

/* Responsive */
@media (min-width: 970px) {
    .container-details {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 7%;
    }

    .card {
        max-width: 100%; 
        height: auto;
        line-height: 3;
        border: none;
    }

    .card-img {
        width: 100%;
        height: 500px;
        object-fit: contain;
    }

    .container-details button {
        width: 15%;
        margin-top: 30px;
        margin-left: 20px;
        font-size: 1.5em;
    }

    .add-to-cart {
       font-size: 1.4em;
    }
}