.container-details {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 15%;
}

.card {
    max-width: 75%; 
    height: 300px;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.details {
 text-align: center;
}

.container-details h5 {
    font-size: 4em;
}

.container-details p {
    font-size: 2em;
}

.title {
    font-weight: bold;
}

.container-details button {
    width: 20%;
    margin-left: 5px;
    font-size: 1.2em;
}

/* Responsive */
@media (min-width: 970px) {
    .card {
        max-width: 100%; 
    }

    .card-img {
        width: 100%;
        object-fit: cover;
    }
}